{% extends "base.html" %}


  {% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
    <title>Daily Dictionary</title>
  </head>
  
  <body>
    <div class="header slide-in">
      <h1 class="title">Daily Dictionary</h1>
      <a href="{{ url_for('views.login')}}">
        <img class="header-redirect" src="../static/images/avatar.png">
      </a>
      
    </div>
    
    <div class="card  slide-in">
      <p id="card-info"></p>
    </div>

    <div>
      <button class="choice slide-in"></button>
      <button class="choice slide-in"></button>
      <button class="choice slide-in"></button>
      <button class="choice slide-in"></button>
    </div>

    <div id="win" class="slide-in" hidden="true">
      <h2>Correct!</h2>
      <button id="win-button">Next</button>
    </div>
    

    <script type"text/javascript">
      const data = '{{ data|tojson }}'
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>

  </body>

</html>

{% endblock %}